<div class="row mb-3">
  <div class="col-md-12">
    <h1>
     <%= @current_user.username %>
    </h1>
  </div>
</div>

<div>
<h2>
List of Bookmarks
</h2>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Title
        </th>

        <th>
          Type
        </th>

        <th>
          Added By
        </th>

        <th>
          Posted
        </th>

        <th>
        </th>

      </tr>

      <% @likes.each do |like| %>
      <tr>
        <td>
          <%= like.id %>
        </td>

        <td>
        <% if %>
         <% like.books_id.present? %>
         Book
         <% elsif %>
        <% like.films_id.present? %>
          Film
          <% elsif %>
        <% like.articles_id.present? %>
          Article
          <% elsif %>
        <% like.shows_id.present? %>
          Show
          <% else %>
        <% like.podcasts_id.present? %>
          Podcast
          <% end %>

        </td>

        <td>
          <%= like.users_id %>
        </td>

        <td>
          <%= time_ago_in_words(like.created_at) %> ago
        </td>

        <td>
        <a href="/delete_like/<%= like.id %>">
          Remove Bookmark
        </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>


