<nav>
<div>
    <a href="/articles">
    All Articles
    </a>
    </div>
<div>
    <a href="/books">
    All Books
    </a>
    </div>
    <div>
    <a href="/films">
    All Films
    </a>
    </div>
    <div>
    <a href="/podcasts">
    All Podcasts
    </a>
    </div>
    <div>
    <a href="/shows">
    All Shows
    </a>
    </div>
    </nav>

    <hr>
    <p><%= notice %></p>
    <p><%= alert %></p>
    
    <div class="row mb-3">
  <div class="col-md-12">
    <h1>
     <%= @current_user.username %>
    </h1>
  </div>
</div>

<div>
<h2>
List of Bookmarks
</h2>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Title
        </th>

        <th>
          Type
        </th>

        <th>
          Added By
        </th>

        <th>
          Posted
        </th>

        <th>
        </th>
      </tr>

<% @current_user.likes.each do |like| %>
  <tr>
  <td>
  <% if %>
         <% like.books_id.present? %>
         <%= like.book %>
         <% elsif %>
        <% like.films_id.present? %>
          <%= like.film %>
          <% elsif %>
        <% like.articles_id.present? %>
         <%= like.article %>
          <% elsif %>
        <% like.shows_id.present? %>
          <%= like.show %>
          <% else %>
        <% like.podcasts_id.present? %>
          <%= like.podcast %>
          <% end %>
          </td>
        <td>
          <% if %>
         <% like.books_id.present? %>
         Book
         <% elsif %>
        <% like.films_id.present? %>
          Film
          <% elsif %>
        <% like.articles_id.present? %>
          Article
          <% elsif %>
        <% like.shows_id.present? %>
          Show
          <% else %>
        <% like.podcasts_id.present? %>
          Podcast
          <% end %>
        </td>
<td>
               <% if %>
         <% like.books_id.present? %>
         <%= like.book_poster %>
         <% elsif %>
        <% like.films_id.present? %>
          <%= like.film_poster %>
          <% elsif %>
        <% like.articles_id.present? %>
         <%= like.article_poster %>
          <% elsif %>
        <% like.shows_id.present? %>
          <%= like.show_poster %>
          <% else %>
        <% like.podcasts_id.present? %>
          <%= like.podcast_poster %>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(like.created_at) %> ago
        </td>
        <td>
        <a href="/delete_like/<%= like.id %>">
          Remove Bookmark
        </a>
        </td>

      </tr>
          <% end %>
          </table>
  </div>


 