<nav>
<div>
    <a href="/articles">
    All Articles
    </a>
    </div>
    <div>
    <a href="/books">
    All Books
    </a>
    </div>
    <div>
    <a href="/films">
    All Films
    </a>
    </div>
    <div>
    <a href="/shows">
    All Shows
    </a>
    </div>
    </nav>
    <div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Podcast Recommendations
    </h1>
  </div>
</div>

<hr>

<p><%= alert %></p>
<p><%= notice %></p>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new podcast
    </h2>

    <form action="/insert_podcast" method="post">
      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="title_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="source_box">
          Source
        </label>

        <input type="text" id="source_box" name="source_from_query" class="form-control" placeholder="How did you listen? Spotify? Apple?">
      </div>

      <div class="form-group">
        <label for="favorite_episode_box">
          Favorite episode
        </label>

        <input type="text" id="favorite_episode_box" name="favorite_episode_from_query" class="form-control">
      </div>

      <div class="form-group">

        <input type="hidden" id="users_id_box" name="users_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="genre_topic_box">
          Genre/Topic
        </label>

        <select id="genre_topic_box" name="genre_topic_from_query" class="form-control">
        <option value="Arts">Arts</option>
        <option value="Business & Investing">Business & Investing</option>
        <option value="Comedy">Comedy</option>
        <option value="Education">Education</option>
        <option value="Fiction">Fiction</option>
        <option value="Government">Government</option>
         <option value="Health & Fitness">Health & Fitness</option>
        <option value="History">History</option>
        <option value="Kids & Family">Kids & Family</option>
        <option value="Leisure">Leisure</option>
        <option value="Music">Music</option>
        <option value="News">News</option>
        <option value="Religion & Spirituality">Religion & Spirituality</option>
        <option value="Science">Science</option>
        <option value="Society & Culture">Society & Culture</option>
        <option value="Sports">Sports</option>
        <option value="Technology">Technology</option>
        <option value="True Crime">True Crime</option>
        <option value="TV & Film">TV & Film</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="description_from_query" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="comments_box">
          Comments
        </label>

        <textarea id="comments_box" name="comments_from_query" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create podcast
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Title
        </th>

        <th>
          Source
        </th>

        <th>
          Favorite episode
        </th>

        <th>
          Added By
        </th>

        <th>
          Genre topic
        </th>

        <th>
          Description
        </th>

        <th>
          Comments
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          Bookmark
        </th>

        <th>
        </th>
      </tr>

      <% @podcasts.each do |podcast| %>
      <tr>

        <td>
          <%= podcast.title %>
        </td>

        <td>
          <%= podcast.source %>
        </td>

        <td>
          <%= podcast.favorite_episode %>
        </td>

        <td>
          <%= podcast.poster %>
        </td>

        <td>
          <%= podcast.genre_topic %>
        </td>

        <td>
          <%= podcast.description %>
        </td>

        <td>
          <%= podcast.comments %>
        </td>

        <td>
          <%= time_ago_in_words(podcast.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(podcast.updated_at) %> ago
        </td>

        <td>
      <form action="insert_like" method="post">
      <input type= "hidden" value="<%= podcast.id %>" name="podcasts_id_from_query">
      <button>Bookmark</button>
   </form>
        </td>

        <td>
          <a href="/podcasts/<%= podcast.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
