<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cosmo/bootstrap.min.css">
  </head>

  <nav>
    <% if @current_user == nil %>
    <div>
    <a href="/user_sign_up">
    </a>
    </div>

     <div>
    <a href="/user_sign_in">
    </a>
    </div>

    <% else %>

    <div>
    <a href="/">
    <%= @current_user.username %>
    </a>
    </div>

     <div>
    <a href="/user_sign_out">
    Sign Out
    </a>
    </div>
        <% end %>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
